<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabor.recappt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/profilbackground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateRecipeActivity"></activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainMenuActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".NewRecipeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BreakfastActivity" android:screenOrientation="portrait" />
        <activity android:name=".RecipeItemActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>